

.header{
    background-color: #0275d8;
    padding: 10px;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.row{
    margin-left: 440px;
    color: white;
}

.row1 {
    background-color: #101010;
    margin-top: 29px;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 60px;


}

.img{
    height: 50px;
    width: 200px;
}

.ul{
    font-size: 12px;
    /*position: absolute;*/
    float: right;
}

.li{

    display: inline-block;
    padding: 1.8em;
    color: #999;
}

.body{
    width: 100px;
    float: left;
    margin-top: 58px;
}

.body_img{
    width: 1350%;
}

.row2{
    display: block;
    margin-top: 140px;
}

.logo_v{
    margin: 7px auto 0px;
    height: 10vh;
    position: relative;
    left: 0px;
    display: block;
}

.h2{
    margin-top:-4px;
    font-size:36px;
    font-weight:700;
    color: white;
    position: absolute;
    left: 450px;

}

.h2*{

    top:3px;
}

.p1{
    font-weight: 600;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 260px;
    left: 550px;
}

.row3{
    width: 410px;
    margin: 10px auto;
    padding: 10px;
    font-size: 18px;
    position: absolute;
    top: 300px;
    left: 450px;
}

.date-start{
    color: white;
}

.date-end{
    color: white;
    text-align: right;
}

.p2{

    font-size: 30px;
    font-weight: 600;
    padding: 3px 12px;
    color: white;
    display: inline-block;
    position: absolute;
    top: 380px;
    left: 450px;
}

.btn{

    border: none;
    background: #1E824C ;
    color: white;
    font-size: 30px;
    line-height: 32px;
    padding: 20px 50px;
    display: inline-block;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    outline: none;
    position: absolute;
    top: 450px;
    left: 550px;
}

.a1{
    font-size: 18px;
    color: white;
    position: absolute;
    top: 550px;
    left: 640px;
}

.glyphicon-chevron-down{
    position: absolute;
    top: 30px;
    left: 20px;
}

.breadcrumb{
    font-size: 12px;
    background-color: transparent;

    /* position: absolute;
     width: 100%;*/

}
.breadcrumb .active{
    color: #999;

}

.breadcrumb .li{
    display: inline-block;
}

.box-style-1{
    padding: 15px 25px 5px 25px;
    box-shadow: inset 0 0 0 1px #e0e5e9;
    border: 5px solid #fbfbfc;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 20px;
    background-color: #fff;
}

.row4{
    margin-left: -14px;
    margin-right: -14px;
}

.col-md-12{
    width: 100%;
}

.row5{
    margin-left: -14px;
    margin-right: -14px;
}


.btn-xl1{
    background-color: #5ac499;
    width: 75px;
    height: 90px;
    /*font-size: 24px;*/
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 120px;
}

.glyphicon-align-left {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-bottom: 50px;

}

.glyphicon-user{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 21px;
    top: 30px;

}

.circle-1-h4{
    position: absolute;
    left: 150px;
    top: 230px;
}

.circle-1-p{
    position: absolute;
    left: 110px;
    top: 270px;
}

.btn-xl2{
    background-color: #5ac499;
    width: 75px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 320px;
}

.glyphicon-calendar{
    font-size: 40px;
    color: white;
    position: absolute;
    left: 35px;
    top: 25px;
    padding-bottom: 50px;
}

.circle-2-h4{
    position: absolute;
    left: 340px;
    top: 230px;
}

.circle-2-p{
    position: absolute;
    left: 310px;
    top: 270px;
}

.btn-xl3{
    background-color: #5ac499;
    width: 75px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 530px;
}

.glyphicon-fullscreen{
    font-size: 40px;
    color: white;
    position: absolute;
    left: 30px;
    top: 25px;
    padding-bottom: 50px;
}

.circle-3-h4{
    position: absolute;
    left: 540px;
    top: 230px;
}

.circle-3-p{
    position: absolute;
    left: 510px;
    top: 270px;
}

.btn-xl4{
    background-color: #5ac499;
    width: 75px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 730px;
}

.glyphicon-earphone{
    font-size: 40px;
    color: white;
    position: absolute;
    left: 30px;
    top: 25px;
    padding-bottom: 50px;
}

.circle-4-h4{
    position: absolute;
    left: 760px;
    top: 230px;
}

.circle-4-p{
    position: absolute;
    left: 720px;
    top: 270px;
}

.logo-v1{
    max-height: 80px;
    max-width: 200px;
    position: absolute;
    top: 80px;
    left: 40px;
}

.logo-p{
    position: absolute;
    top: 100px;
    left: 160px;
}

footer{
    background-color: #1c1c1c;
    color: white;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-size: 13px;
    display: block;
    box-sizing: border-box;

}

.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row7{
    margin-left: -15px;
    margin-right: -15px;
}

.text-left{
    text-align: left;
}

.col-md-4{

    float: left;
/*    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;*/
}

.number{
    font-size: 16px;
    color: #F66;
}

.follow{
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #c6c6c7;
    color: #c6c6c7;
    display: inline-block;
    line-height: 32px;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

/*
.li1{
    display: inline-block;
    margin-right: 15px;
    font-weight: 600;
    padding: 4px;

}
*/

.fb-image{
    color: #c6c6c7;
    line-height: 32px;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

.copy_right{
    background-color: #202020;
    padding: 10px;
    color: #555555;
}


